/*login css*/
        #login_logo{
            width: 100%;
            display : block;
            margin : auto;
            padding: 80px 50px 70px 50px;
            box-sizing: border-box;
        }
        .login_box{
            width: 100%;
            height: 60px;
            border-radius: 5px;
            border: 1px solid dimgray;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            padding: 15px;
            box-sizing: border-box;
            margin-bottom: 15px;
            margin-top: 10px;
            color: dimgray;
        }
        i{
            margin-left: 10px;
            color: black;
        }
        #phone_number{
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 10px;
            overflow: auto;
            width: 100%;
        }
        #password{
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 10px;
            overflow: auto;
            width: 100%;
        }
        #btn_login {
            background-color: #33C7F7;
            border: none;
            color: white;
            border-radius: 5px;
            width: 100%;
            height: 60px;
            font-size: 12pt;
            margin-top: 50px;
            box-sizing: border-box;
        }
        .password{
            border-top: 2px solid lightgrey;
            margin-top: 70px;
            text-align: center;
            color: dimgray;
            font-size: 15px;
        }
        #forget{
            margin-top: 50px;
            margin-bottom: 15px;
        }
        #passwordFind{
            color: inherit;
            text-decoration: none;
        }
        .signup{
            border-top: 1px solid lightgrey;
            margin-top: 40px;
        }
        #signupClick{
            border: none;
            background-color: white;
            margin:auto;
            display: block;
            padding: 25px 28px 30px 28px;
            font-size: 15px;
        }

/*password css*/
    .title {
        text-align: center;
        margin-top: 170px;
        margin-bottom: 60px;
        margin-right: 35px;
    }
    .passwordBox{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        border: 1px solid dimgray;
        display: flex;
        justify-content: center;
        z-index: 1;
        box-sizing: border-box;
        margin-bottom: 15px;
        margin-top: 10px;
        color: dimgray;
    }
    #userName{
        background: transparent;
        border: none;
        -webkit-appearance: none;
        text-align: center;
        margin-left: 0;
        overflow: auto;
        width: 100%;
        }
    #userPhone{
        background: transparent;
        border: none;
        -webkit-appearance: none;
        text-align: center;
        margin-left: 0;
        overflow: auto;
        width: 100%;
    }
    #btn_okay {
        background-color: #BDBDBD;
        border: none;
        color: white;
        border-radius: 5px;
        width: 100%;
        height: 60px;
        font-size: 12pt;
        margin-top: 50px;
        box-sizing: border-box;
    }
    #btn_okay.on{
        background-color: #33C7F7;
    }

/*passwordch html*/
        .passwordChange{
            width: 100%;
            height: 60px;
            border-radius: 5px;
            border: 1px solid dimgray;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            padding: 15px;
            box-sizing: border-box;
            margin-bottom: 15px;
            margin-top: 10px;
            color: dimgray;
        }
        #phone_number{
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 10px;
            overflow: auto;
            width: 100%;
        }
        #password{
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 10px;
            overflow: auto;
            width: 100%;
        }
        #password2{
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 10px;
            overflow: auto;
            width: 100%;
        }

/*signup css*/
        .title_sign {
            margin-bottom: 25px;
            margin-top: 65px;
            z-index: 20;
        }
        #back_sign {
            float: left;
            border: none;
            background-color: white;
            z-index: 10;
        }
        .birth_box {
            float: left;
            width: 60%;
            height: 60px;
            border-radius: 5px;
            border: 1px solid dimgray;
            display: flex;
            justify-content: center;
            z-index: 1;
            box-sizing: border-box;
            margin-bottom: 15px;
            margin-top: 10px;
            color: dimgray;
        }
        .birth_box input {
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 0;
            overflow: auto;
            width: 100%;
            padding-top: 15px;
        }
        .birth_box span {
            position: absolute;
            padding: 5px 10px 10px 10px;
            display: inline-block;
            color: #33C7F7;
            transition: 0.5s;
            pointer-events: none;
            font-size: 12px;
        }
        .input-box {
            width: 100%;
            height: 60px;
            border-radius: 5px;
            border: 1px solid dimgray;
            display: flex;
            justify-content: center;
            z-index: 1;
            box-sizing: border-box;
            margin-bottom: 15px;
            margin-top: 10px;
            color: dimgray;
        }
        .input-box input {
            background: transparent;
            border: none;
            -webkit-appearance: none;
            text-align: center;
            margin-left: 0;
            overflow: auto;
            width: 100%;
            padding-top: 15px;
        }
        .input-box span {
            position: absolute;
            padding: 5px 10px 10px 10px;
            display: inline-block;
            color: #33C7F7;
            transition: 0.5s;
            pointer-events: none;
            font-size: 12px;
        }
        .gender_box {
            float: left;
			width: 60px;
			height : 60px;
    		border: 1px solid dimgray;
    		border-radius: 6px;
            color: dimgray;
            margin-top: 10px;
            margin-left: 9px;
		}
		.gender_box input[type=radio] {
			display: none;
		}
		.gender_box label {
			display: block;
    		border-radius: 6px;
   			margin: 0 auto;
    		text-align: center;
    		height: -webkit-fill-available;
    		line-height: 55px;
		}
		.gender_box input[type=radio]:checked + label {
			background: #33C7F7;
			color: #fff;
		}
		.gender_box label:hover {
			color: #666;
		}
		.gender_box input[type=radio] + label {
			background: white;
			color: dimgray;
		}
        #next {
            background-color: white;
            color: black;
            border-radius: 6px;
            width: 100%;
            height: 60px;
            font-size: 12pt;
            box-sizing: border-box;
            border: 2px solid black;
            margin-top: 45px;
        }

/*navbar css*/
    .navbar {
        left: 0;
        width: 100%;
        border-top: 1px solid lightgrey;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 90;
        justify-content: space-between;
    }
    .n-box{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-right: 22px;
        margin-left: 15px;
    }
    .fc-blue{
        color: #33C7F7;
    }

/*store detail css*/
    .detail_top_box {
        position: fixed;
        top:0;
        left:0;
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .detail_top{
        text-align: center;
        margin-top: 50px;
    }
    #back{
        float: left;
        border: none;
        background-color: white;
    }
    #back > i {
        margin-left: 13px;
    }
    #store_name{
        margin-right: 30px;
    }
    .store {
        width: 100%;
        box-sizing: border-box;
        padding: 85px 0 85px 0;
        border: 3px solid gray;
        border-radius: 5px;
        margin-top: 110px;
    }
    #store_info{
        margin-top: 20px;
    }
    li{
        margin-top: 10px;
    }
    .result{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #write{
        float: right;
        border: none;
        background-color: white;
        color: dimgray;
    }
    .review{
        display: flex;
    }
    #local{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        background-color: #33C7F7;
        color: white;
    }
    #outsider{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        color: dimgray;
    }
    #review_list{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 0 50px 0;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        overflow: auto;
        z-index: 100;
    }
/*search css*/
    .search_box{
        width: 100%;
        height: 60px;
        border-radius: 5px;
        border: 1px solid dimgray;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 60px;
        margin-top: 140px;
        color: dimgray;
    }
    i{
        color: black;
    }
    #content{
        background: transparent;
        border: none;
        -webkit-appearance: none;
        overflow: auto;
        width: 100%;
        font-size: 16px;
    }
    .search_btn{
        background-color: white;
        border: none;
    }
    .search_box2{
        border-bottom: 1px solid #BDBDBD;
        padding-bottom: 30px;
    }
    b{
        font-size: 18px;
    }
    #delete_btn{
        border: 2px solid #33C7F7;
        border-radius: 6px;
        background-color: white;
        color: #33C7F7;
        float: right;
    }

/*like list css*/
        .top_box {
            position: fixed;
            top: 0;
            left: 0;
            height: 120px;
            width: 100%;
            background-color: white;
        }
        .top {
            top: 0;
            left: 0;
            position: fixed;
            background-color: white;
            width: 100%;
            margin-top: 50px;
            display: flex;
        }
        #logo {
            width: 190px;
            height: 50px;
            display: block;
            margin-left: 90px;
            margin-top: 10px;
        }
        .head {
            margin-top: 135px;
        }
        .head > h2 {
            margin-left: 15px;
        }
        .listbox {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #box {
            border: 1px solid white;
            border-radius: 5px;
            margin: 5px;
            width: 135px;
            height: 135px;
            padding: 20px;
            box-shadow: 10px 5px 10px 5px #F5F5F5;
        }
        #photo {
            border: 1px solid darkgrey;
            border-radius: 5px;
            margin: -5px -11px 0 -11px;
            padding: 50px;
            height: 10px;
        }
        #photo > i{
            float: right;
            margin: -40px;
        }
         #photo > i:active{
             color: #33C7F7;
        }
         .click{
             color: #33C7F7;
         }

/*store list css*/
        .list_name {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }
        .list_name > b {
            margin-left: 10px;
        }
        #add {
            border-radius: 10px;
            border: 2px solid #33C7F7;
            color: #33C7F7;
            background-color: white;
            float: right;
        }
