/*store detail css*/
.navbar{
        left:0;
        width:100%;
        border-top: 1px solid lightgrey;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 90;
        justify-content: space-between;
    }
    .n-box{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
    .fc-blue{
        color: #33C7F7;
    }
    .top_box {
        position: fixed;
        top:0;
        left:0;
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .top{
        text-align: center;
        margin-top: 50px;
    }
    #back{
        float: left;
        border: none;
        background-color: white;
    }
    #back > i {
        margin-left: 13px;
    }
    #store_name{
        margin-right: 30px;
    }
    .store {
        width: 100%;
        box-sizing: border-box;
        padding: 85px 0 85px 0;
        border: 3px solid gray;
        border-radius: 5px;
        margin-top: 110px;
    }
    #store_info{
        margin-top: 20px;
    }
    li{
        margin-top: 10px;
    }
    .result{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #write{
        float: right;
        border: none;
        background-color: white;
        color: dimgray;
    }
    .review{
        display: flex;
    }
    #local{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        background-color: #33C7F7;
        color: white;
    }
    #outsider{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        color: dimgray;
    }
    #review_list{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 0 50px 0;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        overflow: auto;
        z-index: 100;
    }

    /*like list css*/

.navbar {
            left: 0;
            width: 100%;
            border-top: 1px solid lightgrey;
            display: flex;
            position: fixed;
            bottom: 0;
            background-color: white;
            z-index: 90;
            justify-content: space-between;
        }

        .n-box {

            padding-top: 25px;
            padding-bottom: 25px;
            text-align: center;
            margin-right: 30px;
            margin-left: 30px;
        }

        .fc-blue {
            color: #33C7F7;
        }

        .top_box {
            position: fixed;
            top: 0;
            left: 0;
            height: 120px;
            width: 100%;
            background-color: white;
        }

        .top {
            top: 0;
            left: 0;
            position: fixed;
            background-color: white;
            width: 100%;
            margin-top: 50px;
            display: flex;
        }

        img {
            width: 190px;
            height: 50px;
            display: block;
            margin-left: 50px;
            margin-top: 10px;
        }

        #back {
            border: none;
            background-color: white;
        }

        #back > i {
            margin: 10px;
            float: right;
        }

        .head {
            margin-top: 135px;
        }

        .head > h2 {
            margin-left: 15px;
        }

        .list_name {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
        }

        .list_name > b {
            margin-left: 10px;
        }

        #add {
            border-radius: 10px;
            border: 2px solid #33C7F7;
            color: #33C7F7;
            background-color: white;
            float: right;
        }

        .listbox {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #box {
            border: 1px solid white;
            border-radius: 5px;
            margin: 5px;
            width: 135px;
            height: 135px;
            padding: 20px;
            box-shadow: 10px 5px 10px 5px #F5F5F5;
        }
        #photo {
            border: 1px solid darkgrey;
            border-radius: 5px;
            margin: -5px -11px 0 -11px;
            padding: 50px;
            height: 10px;
        }
        #photo > i{
            float: right;
            margin: -40px;
        }


        /*store detail css*/

.navbar{
        left:0;
        width:100%;
        border-top: 1px solid lightgrey;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 90;
        justify-content: space-between;
    }
    .n-box{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
    .fc-blue{
        color: #33C7F7;
    }
    .top_box {
        position: fixed;
        top:0;
        left:0;
        height: 100px;
        width: 100%;
        background-color: white;
    }
    .top{
        text-align: center;
        margin-top: 50px;
    }
    #back{
        float: left;
        border: none;
        background-color: white;
    }
    #back > i {
        margin-left: 13px;
    }
    #store_name{
        margin-right: 30px;
    }
    .store {
        width: 100%;
        box-sizing: border-box;
        padding: 85px 0 85px 0;
        border: 3px solid gray;
        border-radius: 5px;
        margin-top: 110px;
    }
    #store_info{
        margin-top: 20px;
    }
    li{
        margin-top: 10px;
    }
    .result{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #write{
        float: right;
        border: none;
        background-color: white;
        color: dimgray;
    }
    .review{
        display: flex;
    }
    #local{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        background-color: #33C7F7;
        color: white;
    }
    #outsider{
        width: 100%;
        border: none;
        padding: 20px 68px 20px 68px;
        margin-top: 20px;
        color: dimgray;
    }
    #review_list{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 0 50px 0;
        border: 1px solid gray;
        border-radius: 5px;
        margin-top: 20px;
        overflow: auto;
        z-index: 100;
    }

