{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}

<div class="top_box">
    <div class="top">
        <img id="logo" src="/static/images/IMG_4613.PNG" alt="로컬픽">
    </div>
</div>

<div class="search_box">
    <form action = "{% url 'search:result_api' %}" method = "GET">
        <input type="text" id="content" name = "s" placeholder="장소를 입력해 주세요.">
    </form>
    <button class="search_btn" onclick="search()">
        <i class="fas fa-search"></i>
    </button>
</div>

<div class="search_box2">
    <b>최근검색어</b>
    <button id="delete_btn" type="button">전체 삭제</button>
</div>


<div class="navbar">
    <div class="n-box" id="list">
        <i class="fas fa-th fa-2x"></i>
    </div>
    <div class="n-box" id="search">
        <i class="fas fa-search fa-2x fc-blue"></i>
    </div>
    <div class="n-box" id="heart">
        <i class="fas fa-heart fa-2x"></i>
    </div>
    <div class="n-box" id="user">
        <i class="fas fa-user-circle fa-2x"></i>
    </div>
</div>

<script>
    function search() {
        location.href = "{% url 'search:result_api' %}";
    }
</script>
{% endblock %}

