{% extends 'base.html' %}

{% block content %}

    {% include 'header.html' %}

    <div class="search_box">
        <form action="{% url 'search:result_api' %}" method="GET">
            <input type="text" id="content" name="s" placeholder="장소를 입력해 주세요.">
        </form>
        <button class="search_btn" type="submit" onclick="search()">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div class="search_box2">
        <b>최근검색어</b>
        <button id="delete_btn" type="button">전체 삭제</button>
    </div>

    {% include 'navbar.html' %}

    <script>


    </script>
{% endblock %}

