<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>로컬픽</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/stylesheet.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="{% static 'js/nav.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.esm.browser.min.js'

        const swiper = new Swiper(...)
    </script>
</head>
<body>
<div class="top_box">
    <div class="top">
        <a href="/store/list/"><img id="logo" src="/static/images/IMG_4613.png" alt="로컬픽"></a>
    </div>
</div>

<div class="wrapper">
    <div class="search_box">
        <form action="{% url 'search:result_api' %}" method="GET" id="todo-form" class="form">
            <div class="text_search_box2">
                <input type="text" id="content" name="s" placeholder="장소를 입력해 주세요.">
                <button type="submit" class="search_btn" form="todo-form" onclick="search()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="todo-inner">
        <div class="allDelete off">
            <b class="tit">최근 검색어</b>
            <span class="delete_btn">전체 삭제</span>
        </div>
        <p class="txt"></p>
        <ul id="todo-list"></ul>
    </div>
</div>


<div class="local_navbar">
    <div class="n-box" id="list">
        <i class="fas fa-th fa-2x"></i>
    </div>
    <div class="n-box" id="search">
        <i class="fas fa-search fa-2x fc-blue"></i>
    </div>
    <div class="n-box" id="heart">
        <i class="fas fa-heart fa-2x"></i>
    </div>
    <div class="n-box" id="user">
        <i class="fas fa-user-circle fa-2x"></i>
    </div>
</div>
<script>
    const toDoForm = document.querySelector('#todo-form');
    const toDoInput = toDoForm.querySelector('input');
    const toDoList = document.querySelector('#todo-list');
    const allDelete = document.querySelector('.allDelete');
    const txt = document.querySelector('.txt');
    const TODOS_KEY = "todos";

    let toDos = new Array();

    function saveToDos() { //item을 localStorage에 저장합니다.
        typeof (Storage) !== 'undefined' && localStorage.setItem(TODOS_KEY, JSON.stringify(toDos));
    };

    function allDeleteToDo() { //전체 item을 삭제
        localStorage.clear(toDos);
        toDoList.innerText = '최근검색어 내역이 없습니다.';
    };

    function deleteToDo(e) { //각각의 item을 삭제
        const li = e.target.parentElement;
        li.remove();
        toDos = toDos.filter((toDo) => toDo.id !== parseInt(li.id));
        toDos.length === 0 && (txt.innerText = '최근검색어 내역이 없습니다.')
        saveToDos();
    };

    function paintToDo(newTodo) { //화면에 뿌림
        const {id, text} = newTodo;
        const item = document.createElement("li");
        const span = document.createElement("span");
        const button = document.createElement("button");
        item.id = id;
        span.innerText = text;
        button.innerText = '❌';
        button.addEventListener("click", deleteToDo);
        allDelete.addEventListener("click", allDeleteToDo);
        item.appendChild(span);
        item.appendChild(button);
        toDoList.appendChild(item);
        newTodo !== null && allDelete.classList.remove('off');
    };

    function handleToDoSubmit(event) { //form 전송
        event.preventDefault();
        const newTodoItem = toDoInput.value;
        toDoInput.value = '';
        const newTodoObj = {
            id: Date.now(),
            text: newTodoItem
        };
        toDos.push(newTodoObj);
        paintToDo(newTodoObj);
        saveToDos();
    };

    toDoForm.addEventListener('submit', handleToDoSubmit);

    const savedToDos = JSON.parse(localStorage.getItem(TODOS_KEY));
    if (savedToDos !== null) {
        toDos = savedToDos //전에 있던 items들을 계속 가지도 있다록 합니다.
        savedToDos.forEach(paintToDo);
    }
</script>
</body>
</html>