<!doctype html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로컬픽</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    .navbar{
    width:100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    background-color: white;
    bottom: 0;
    z-index: 90;
    text-align: center;
    }
    .n-box{
    width: 20%;
    }
    .fc-blue{
    color: blue;
    }
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>