<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로컬픽</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
       div {
        width: 100px ;
        height: 100px;
        padding: 20px;
        border: 3px solid black;
        margin: 10 10 10 10;
       }
    </style>
</head>
<body>
    <button onclick="history.back()"><i class="fas fa-chevron-left"></i></button>
    <img src="#" alt="로컬픽" width="100%">
    <h3>김로컬님의<br>성향에 맞는 곳으로 추천드릴게요!</h3>
    <div class="main">
        <p><b>김로컬님 맞춤 맛집</b><button id="view_more" type="button">더보기</button></p>
        <a href="#" class="box">
            <div >
                사진
            </div>
            <p>가격</p>
            <div>
                사진
            </div>
            <p>가격</p>
            <div>
                사진
            </div>
            <p>가격</p>
        </a>
    </div>
</body>
</html>