<!doctype html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로컬픽</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .navbar{
        left:0;
        width:100%;
        border-top: 1px solid lightgrey;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 90;
        justify-content: space-between;
    }
    .n-box{
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
    }
    .fc-blue{
        color: #33C7F7;
    }
</style>

</head>
<body>
<div class="navbar">
    <div class="n-box fc-blue">
        <i class="fas fa-th fa-2x"></i>
    </div>
    <div class="n-box">
        <i class="fas fa-search fa-2x"></i>
    </div>
    <div class="n-box">
        <i class="fas fa-heart fa-2x"></i>
    </div>
    <div class="n-box">
        <i class="fas fa-user-circle fa-2x"></i>
    </div>


    <div>수정 내용</div>




    <div> merge test</div>
</div>
</body>
</html>