<!doctype html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로컬픽</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .top{
        position: fixed;
        background-color: white;
        width: 100%;
        margin-top: -8px;
        display: flex;
    }
    img {
        width: 100%;
        display : block;
        padding: 70px 120px 55px 50px;
        box-sizing: border-box;
    }

    #back{
        float: left;
        border: none;
        background-color: white;
    }
</style>

</head>
<body>
<div class="top">
    <button id="back" onclick="history.back()"><i class="fas fa-chevron-left fa-2x"></i></button>
    <img src="../static/images/IMG_4613.PNG" alt="로컬픽">
</div>
</body>
</html>