{% extends 'base.html' %}

{% block content %}

    <div class="detail_top_box">
        <div class="detail_top">
            <button id="back" onclick="history.back()">
                <i class="fas fa-chevron-left fa-2x"></i>
            </button>
            <b id="store_name"> </b>
        </div>
    </div>

    <div class="store"></div>

    <div id="store_info" class="detail"></div>

    <div class="result">
        <b id="">전체 리뷰 결과</b>
        <button id="write" type="button"><i class="fas fa-pen"> 리뷰 작성하기</i></button>
    </div>

    <div class="review">
        <button id="local"><b>현지인</b></button>
        <button id="outsider"><b>외부인</b></button>
    </div>

    <div id="review_list" class="review_detail"></div>

    <div id="review_list"></div>

    <script>
        $(function (){
            $('#heart').click(function (){
                location.href = "{% url 'store:like_list' %}"
            });
        });

        $('#write').click(function (){
            location.href = "{% url 'review:create' pk=pk %}";
        });

        $(document).ready(function () {
            $.ajax({
                url: "{% url 'store:detail_api' pk=pk %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                success: function (data) {
                    var info_html = ""
                    info_html += "<p><b>" + data.store_name + "</p></b>"
                    info_html += "<ul>"
                    info_html += "<li><p>" + data.store_adress + "</p></li>"
                    info_html += "<li><p>" + data.store_tel + "</p></li>"
                    info_html += "<li><p>" + data.store_time + "</p></li>"
                    info_html += "</ul>"
                    document.getElementById("store_info").innerHTML = info_html
                    $('#store_name').text(data.store_name);

                },
                error: function (request, status, error) {
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });
            $.ajax({
                url: "{% url 'review:list_api' pk=pk %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                success: function (review) {
                    var review_desc = ""
                    for (var i = 0; i < review.length; i++) {
                        review_desc += "<ul>"
                        review_desc += "<li><p> user id : " + review[i].user_id + "</li></p>"
                        review_desc += "<li><p> start rating : " + review[i].star_rating + "</li></p>"
                        review_desc += "<li><p> description : " + review[i].description + "</li></p>"
                        review_desc += "</ul>"
                        review_desc += "</div>"
                    }
                    document.getElementById("review_list").innerHTML = review_desc

                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });
        });
    </script>
{% endblock %}
