{% extends 'base.html' %}

{% block content %}

    {% include 'header.html' %}

    <div class="head">
        <h2>{{ user.nickname }} 님의<br><span style="color: royalblue">좋아요</span> 맛집 리스트입니다.</h2>
    </div>

    <div class="listbox1" id="listbox1">
        <div class="listbox">
            <div id="box">
                <div class="like_photo_box">
                    <div id="like_photo">
                        <i id=like_btn class="far fa-heart fas fa-heart" onclick="like(this)"
                           style="color: royalblue;"></i>
                    </div>
                    <div class="like_name_box">
                        <a href="{% url 'like:api' %}"></a>
                    </div>
                </div>
            </div>

            <div id="box">
                <div class="like_photo_box">
                    <div id="like_photo">
                        <i id=like_btn class="far fa-heart fas fa-heart" onclick="like(this)"
                           style="color: royalblue;"></i>
                    </div>
                    <div class="like_name_box">
                        <a href="{% url 'like:api' %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="local_navbar">
        <div class="n-box" id="list">
            <i class="fas fa-th fa-2x"></i>
        </div>
        <div class="n-box" id="search">
            <i class="fas fa-search fa-2x"></i>
        </div>
        <div class="n-box" id="heart">
            <i class="fas fa-heart fa-2x fc-blue"></i>
        </div>
        <div class="n-box" id="user">
            <i class="fas fa-user-circle fa-2x"></i>
        </div>
    </div>

    <script>

        function like(obj) {
            if ($(obj).hasClass("far fa-heart") == true) {
                $(obj).removeClass("far fa-heart");
                $(obj).addClass("fas fa-heart");
            } else {
                $(obj).removeClass("fas fa-heart");
                $(obj).addClass("far fa-heart");
            }
        }


        $("#like_btn").on("click", function () {
            $.ajax({
                url: "{% url 'like:list_api' %}",
                dataType: "json",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                },
                method: "POST",
                success: function (response) {
                    if ($(obj).hasClass("far fa-heart") == true) {
                        $(obj).removeClass("far fa-heart");
                        $(obj).addClass("fas fa-heart");
                    } else {
                        $(obj).removeClass("fas fa-heart");
                        $(obj).addClass("far fa-heart");
                    }
                },
                error: function (request, status, error) {
                    console.log('error')
                }
            })
        });


        $(document).ready(function () {
            $.ajax({
                url: "{% url 'like:list_api' %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                success: function (like) {
                    var list = data.likeList;
                    var like_list = ""
                    for (var i = 0; i <= like.length; i++) {
                        like_list += "<div class='listbox'>"
                        like_list += "<div id='box'>"
                        like_list += "<div id='like_photo_box'>"
                        like_list += "<div id='like_photo'>"
                        $.ajax({
                            url: "/store/api/image/" + store_id,
                            headers: {
                                "Authorization": "Token {{ token }}",
                            },
                            method: "GET",
                            datatype: 'json',
                            success: function (data) {
                                like_list += "<img class='like_image' src='" + data.image_tag + "'>"
                            },
                            error: function (request, status, error) {
                                console.log(error)
                            },
                            complete: function (data) {

                            }
                        });
                        like_list += "<i id=like_btn class='far fa-heart fas fa-heart' onclick='like(this)' style='color: royalblue;'></i>"
                        like_list += "<div id='like_name_box'>"
                        like_list += "<a href='/store/detail/" + store_id + "'>" + list[i].store_name + "</a>"
                        like_list += "</div></div></div></div></div>"
                    }
                    document.getElementById("listbox1").innerHTML = like_list
                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });
        });


    </script>
{% endblock %}