{% extends 'base.html' %}

{% block content %}

    {% include 'header.html' %}

    <div class="head">
        <h2>{{ user.nickname }} 님의<br>좋아요 맛집 리스트입니다.</h2>
    </div>

    <div class="listbox">
        <div id="box">
            <div id="photo">
                <i class="far fa-heart"></i>
                <a href="{% url 'like:api' %}"></a>
            </div>
        </div>
        <div id="box">
            <div id="photo">
                <i class="far fa-heart"></i>
                <a href="{% url 'like:api' %}"></a>
            </div>
        </div>
    </div>

    {% include 'navbar.html' %}
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "{% url 'like:list_api' %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                success: function (like) {
                    console.log(like);
                    var like_box = ""
                    for (var i = 0; i <= like.length; i++) {

                    }
                    document.getElementById("listbox").innerHTML = like_box

                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });
        });
    </script>
{% endblock %}