{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <div class="head">
        <h2>{{ user.nickname }} 님의<br>추천 맛집입니다.</h2>
    </div>

    <div class="first_box">
        <div class="list_name">
            <b>{{ user.nickname }}님 맛춤 맛집</b>
            <button id="add" type="button"><b>더보기</b></button>
        </div>

        <div class="listbox" id="listbox">

        </div>
    </div>

    {% include 'navbar.html' %}

    <script>



    $(document).ready(function (){
        $.ajax({
                url: "{% url 'store:list_api' 3 %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                success: function (data) {
                    console.log(data)
                    var list = data.storeList
                    var list_html = ""
                    for (var i = 0 ; i < list.length ; i++){
                        var store_id = list[i].id
                        list_html += "<div id='box'>"
                        list_html += "<div id='photo'>"
                        list_html += "<i class='far fa-heart'></i>"
                        list_html += "<a href='/store/detail/" + store_id + "'>"+ list[i].store_name +"</a>"
                        list_html += "</div></div>"
                    }
                    document.getElementById("listbox").innerHTML = list_html;
                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });
    });
    </script>
{% endblock %}
