{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <div class="head">
        <h2>{{ user.nickname }} 님의<br>추천 맛집입니다.</h2>
    </div>
    <div class="first_box">
        <div class="store_list_box">
            <div class="list_name">
                <b>추천 카페</b>
            </div>
            <div class="swiper mySwiper">
                <div id="cafe_slider" class="swiper-wrapper">

                </div>
            </div>
        </div>

        <div class="store_list_box">
            <div class="list_name">
                <b>한식 추천</b>
            </div>
            <div class="swiper mySwiper">
                <div id="korean_slider" class="swiper-wrapper">

                </div>
            </div>
        </div>

        <div class="store_list_box">
            <div class="list_name">
                <b>술집 추천</b>
            </div>
            <div class="swiper mySwiper">
                <div id="drink_slider" class="swiper-wrapper">

                </div>
            </div>
        </div>
    </div>

    {% include 'navbar.html' %}

    <script>
        function like(obj) {
            if ($(obj).hasClass("far fa-heart") == true) {
                $(obj).removeClass("far fa-heart");
                $(obj).addClass("fas fa-heart");
            } else {
                $(obj).removeClass("fas fa-heart");
                $(obj).addClass("far fa-heart");
            }

        }

        $(document).ready(function () {
            $.ajax({
                url: "{% url 'store:list_api' 6 %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                async: false,
                success: function (data) {
                    var list = data.storeList;
                    var list_html = "";

                    for (var i = 0; i < list.length; i++) {
                        var store_id = list[i].id;
                        var store_name = list[i].store_name;
                        var image_tag = list[i].image_tag;
                        list_html += "<div class='swiper-slide'>";
                        list_html += "<div class='photo_box'>";
                        list_html += "<div id='photo'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>"
                        list_html += "<img class='list_image' src='" + image_tag + "'></a>";
                        list_html += "<i id= like_btn class='far fa-heart fas fa-heart' onclick='like(this)' style='color: royalblue;'></i>";
                        list_html += "<div class='name_box'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>" + store_name + "</a>";
                        list_html += "</div></div></div></div>";
                    }
                    document.getElementById("cafe_slider").innerHTML = list_html;
                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });


            $.ajax({
                url: "{% url 'store:list_api' 1 %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                async: false,
                success: function (data) {
                    var list = data.storeList;
                    var list_html = "";

                    for (var i = 0; i < list.length; i++) {
                        var store_id = list[i].id;
                        var store_name = list[i].store_name;
                        var image_tag = list[i].image_tag;
                        list_html += "<div class='swiper-slide'>";
                        list_html += "<div class='photo_box'>";
                        list_html += "<div id='photo'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>"
                        list_html += "<img class='list_image' src='" + image_tag + "'></a>";
                        list_html += "<i id= like_btn class='far fa-heart fas fa-heart' onclick='like(this)' style='color: royalblue;'></i>";
                        list_html += "<div class='name_box'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>" + store_name + "</a>";
                        list_html += "</div></div></div></div>";
                    }
                    document.getElementById("cafe_slider").innerHTML = list_html;
                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });



            $.ajax({
                url: "{% url 'store:list_api' 7 %}",
                headers: {
                    "Authorization": "Token {{ token }}",
                },
                method: "GET",
                datatype: 'json',
                async: false,
                success: function (data) {
                    var list = data.storeList;
                    var list_html = "";

                    for (var i = 0; i < list.length; i++) {
                        var store_id = list[i].id;
                        var store_name = list[i].store_name;
                        var image_tag = list[i].image_tag;
                        list_html += "<div class='swiper-slide'>";
                        list_html += "<div class='photo_box'>";
                        list_html += "<div id='photo'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>"
                        list_html += "<img class='list_image' src='" + image_tag + "'></a>";
                        list_html += "<i id= like_btn class='far fa-heart fas fa-heart' onclick='like(this)' style='color: royalblue;'></i>";
                        list_html += "<div class='name_box'>";
                        list_html += "<a href='/store/detail/" + store_id + "'>" + store_name + "</a>";
                        list_html += "</div></div></div></div>";
                    }
                    document.getElementById("cafe_slider").innerHTML = list_html;
                },
                error: function (request, status, error) {
                    alert("error");
                    console.log('error');
                    console.log(error);
                },
                complete: function (data) {
                    console.log('끝');
                }
            });

        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 2,
            spaceBetween: 30,
            freeMode: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
{% endblock %}