{% extends 'base.html' %}

{% block content %}

    {% include 'header.html' %}

<div class="box1">
    <div class="picture">

    </div>
    <div class="profile">
        <div class="name">
            <b>{{ user.nickname }} 님</b>
        </div>
        <div class="phone">
            <b>{{ user.phone_number }}</b>
        </div>
    </div>
</div>

<div class="revise">
    <button id="btn_revise" type="button" onclick="revise()">회원 정보 수정</button>
</div>

<div class="logout">
    <button id="btn_logout" type="button" onclick="okay()"><b>로그아웃</b></button>
</div>

<div class="out">
    <button id="btn_out" type="button" onclick="out()"><b>서비스 탈퇴</b></button>
    <label id="text">회원 탈퇴시 안내 사항을 반드시 확인해 주십시오.</label>
</div>
{% include 'navbar.html' %}
<script>

</script>

{% endblock %}