{% extends 'base.html' %}

{% block content %}

    <button id="back" onclick="history.back()"><i class="fas fa-chevron-left fa-2x"></i></button>

    <div class="title">
        <h3>비밀번호찾기</h3>
    </div>

    <div class="passwordBox">
        <input id="userName" type="text" placeholder="이름을 적으세요.">
    </div>
    <div class="passwordBox">
        <input id="userPhone" type="text" placeholder="가입시 사용한 전화번호를 적으세요.">
    </div>

    <div class="okay">
        <button id="btn_okay" type="button" onclick="okay()" disabled><b>완 료</b></button>
    </div>

    <script>
        function okay() {
            location.href = "";
        }

        $('#userName').on('input', checkInput);
        $('#userPhone').on('input', checkInput);

        function checkInput() {
          var nameCheck = $('#userName').val();
          var phoneCheck = $('#userPhone').val();
          var btnLogin = $('#btn_okay');

          if (nameCheck === '' || phoneCheck === '') {
            btnLogin.removeClass('on');
          } else {
            btnLogin.addClass('on');
          }
        }

        const psBox = document.querySelector('.passwordBox');
        const nameForm = document.querySelector('#userName');
        const phoneForm = document.querySelector('#userPhone');
        const okayButton = document.querySelector('#btn_okay');

        nameForm.addEventListener('keyup', listener);
        phoneForm.addEventListener('keyup', listener);
        okayButton.addEventListener('click', errorEvent);

        function listener(){
            switch (!(nameForm.value && phoneForm.value)){
                case true: okayButton.disabled = true; break;
                case false: okayButton.disabled = false; break;
            }
        }

        function errorEvent(){
            psBox.classList.add('error');
        }

    </script>
{% endblock %}