<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로컬픽</title>
</head>
<body>
    <div class="passwordtitle">
        <h1>비밀번호찾기</h1>
    </div>

    <div class="passwordBox">
        <input id="userName" type="text" placeholder="이름을 적으세요.">
    </div>
    <div class="passwordBox">
        <input id="userPhone" type="text" placeholder="가입시 사용한 전화번호를 적으세요">
    </div>
    <div class="okay">
        <button id="okay" type="button" onclick="">완료</button>
    </div>
</body>
</html>