{% extends 'base.html' %}

{% block content %}

    <div>
        <button id="back" onclick="history.back()"><i class="fas fa-chevron-left fa-2x"></i></button>
    </div>
    <div class="title">
        <h3>비밀번호 변경하기</h3>
    </div>


    <div class="passwordChange">
        <input id="phone_number" type="text" placeholder="전화번호를 입력하세요.">
    </div>
    <div class="passwordChange">
        <input id="password" type="password" placeholder="변경하실 비밀번호를 입력하세요.">
    </div>
    <div class="passwordChange">
        <input id="password2" type="password" placeholder="입력하신 비밀번호를 동일하게 입력하세요.">
    </div>

    <div class="okay">
        <button id="btn_okay" type="button" onclick="okay()" disabled><b>완 료</b></button>
    </div>

    <script>
        function okay() {
            location.href = "#";
        }

        $('#phone_number').on('input', checkInput);
        $('#password').on('input', checkInput);
        $('#password2').on('input', checkInput);

        function checkInput() {
            var phoneCheck = $('#phone_number').val();
            var passwordCheck = $('#password').val();
            var password2Check = $('#password2').val();
            var btnChange = $('#btn_okay');

            if (phoneCheck === '' || passwordCheck === '' || password2Check === '') {
                btnChange.removeClass('on');
            } else {
                btnChange.addClass('on');
            }
        }

        const psBox = document.querySelector('.passwordChange');
        const phoneForm = document.querySelector('#phone_number');
        const passwordForm = document.querySelector('#password')
        const password2Form = document.querySelector('#password2');
        const okayButton = document.querySelector('#btn_okay');

        phoneForm.addEventListener('keyup', listener);
        passwordForm.addEventListener('keyup', listener);
        password2Form.addEventListener('keyup', listener);
        okayButton.addEventListener('click', errorEvent);

        function listener() {
            switch (!(phoneForm.value && passwordForm.value && password2Form.value)) {
                case true:
                    okayButton.disabled = true;
                    break;
                case false:
                    okayButton.disabled = false;
                    break;
            }
        }

        function errorEvent() {
            psBox.classList.add('error');
        }


    </script>
{% endblock %}
