{% extends 'base.html' %}

{% block content %}



<script>
    $('#taste_btn_okay').click(function () {

        let spicy = $('#spicy').val();
        let salt = $('#salt').val();
        let sweet = $('#sweet').val();
        let amount = $('#amount').val();

        $.ajax({
            url: "#",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': "{{ csrf_token }}",
                spicy: spicy,
                salt: salt,
                sweet: sweet,
                amount: amount,
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                location.replace("{% url 'users:login' %}");
            },

            error: function (request, status, error) {
                console.log("에러");
                console.log(error)
            },
            complete: function () {
                console.log("성공");

            }
        })
    });
</script>
{% endblock %}